.about {
  margin: 30px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 260px;
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  .font-style-title();
}

.about__list {
  .nav-list;
}

.about__item {
  .font-style-title(700, 17px, 20px, @bold-text-color);
  min-height: 40px;
  padding-top: 60px;
}
