.button {
  display: block;
  box-sizing: border-box;
  min-width: 260px;
  min-height: 52px;
  text-transform: uppercase;
  text-decoration: none;
  .font-style(700; 18px; 20px; @text-color);
  margin: 0;
  padding: 16px;
  text-align: center;
  outline: 2px solid @text-color;
  background: @bg-color;
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 17px;
  }

  .button--reviews {
    min-width: 175px;
  }
}
