.catalog {
  .nav-list;
  margin: 30px;
  display: grid;
  gap: 25px;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin: 50px;
    margin-top: 76px;
    gap: 52px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    max-width: @desktop-width;
    margin: 127px auto 51px auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 49px;
  }
}
