.field {
  border: 0;
  border-bottom: 2px solid @text-color;
  min-height: 52px;
  min-width: 260px;
  box-sizing: border-box;
  .font-style(400; 17px; 18px; @bold-text-color);

  &:hover,
  &:active {
    border-bottom-color: #62d1ba;
  }
}

.field::placeholder {
  .font-style(400; 17px; 18px; @bold-text-color);
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field {
    padding: 18px;
  }

  .field::placeholder {
    font-size: 19px;
  }
}
