.form-description {
  .font-style();
  margin: 17px 30px 15px;
}

@media (min-width: @tablet-width) {
  .form-description {
    .font-style(400; 17px; 30px; @text-color);
    margin: 54px 50px 13px;
  }
}

@media (min-width: @desktop-width) {
  .form-description {
    margin: 0 auto;
    margin-top: 99px;
    margin-bottom: 13px;
    padding: 0 225px;
  }
}
