.form {
  display: flex;
  flex-direction: column;
  margin: 0 30px 16px;
}

.form__group {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  border: 0;
}

.form__wrapper {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__group--extra {
  margin-bottom: 7px;
}

.form__title {
  .font-style-title(700; 17px; 16px; @base-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form__list {
  .nav-list;
  display: grid;
}

.form__list--radiobutton {
  row-gap: 11px;
}

.form__list--checkbox {
  row-gap: 23px;
  margin-top: -5px;
}

.form__list--text-control {
  row-gap: 22px;
}

.form__control {
  margin: 0;
  margin-bottom: 22px;
}

.form__footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__note {
  .font-style(400; 14px; 16px; @text-color);
  margin: 0;
}

.form__button {
  min-width: 230px;
  font-size: 17px;
}

@media (max-width: @mobile-width-only) {
  .form__title-wrapper {
    position: relative;
  }

  .form__title-wrapper::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: #62d1ba;
    z-index: -1;
  }

  .form__title {
    width: fit-content;
    padding-right: 17px;
    background-color: @bg-color;

    &--radiobutton {
      padding-right: 22px;
    }

    &--phone {
      margin-top: 17px;
      margin-bottom: 2px;
      padding-right: 28px;
    }

    &--email {
      margin-top: -3px;
      margin-bottom: 1px;
    }

    &--extra {
      margin-top: -4px;
      margin-bottom: 21px;
    }
  }
}

@media (min-width: @tablet-width) {
  .form {
    margin: 0;
  }

  .form__group {
    margin: 0;
  }

  .form__group--dark {
    background-color: @bg-second-page;
  }

  .form__group--phone {
    margin-bottom: 0;
  }

  .form__group--extra .form__wrapper {
    padding-bottom: 42px;
  }

  .form__wrapper {
    display: grid;
    grid-template-columns: 88px auto;
    column-gap: 79px;
    margin: 0 auto;
    padding: 50px;
  }

  .form__wrapper--checkbox {
    padding: 55px 50px 50px;
  }

  .form__wrapper--text-control {
    padding-top: 46px;
  }

  .form__wrapper--text-control .form__title {
    margin-top: 21px;
  }


  .form__wrapper--phone {
    padding-bottom: 0;
    padding-top: 45px;
  }

  .form__wrapper--email {
    padding-top: 0;
    padding-bottom: 26px;
  }

  .form__title {
    margin-top: 10px;
  }

  .form__title--radiobutton {
    margin-top: 18px;
  }

  .form__title--phone,
  .form__title--email,
  .form__title--extra {
    margin-top: 20px;
  }

  .form__list {
    row-gap: 24px;
    column-gap: 22px;
  }

  .form__list--checkbox {
    grid-template-columns: 1fr 1fr;
  }

  .form__list--text-control {
    row-gap: 20px;
  }

  .form__footer {
    margin: 0 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__note {
    .font-style(400; 17px; 30px; @text-color);
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    padding-left: 111px;
    padding-right: 225px;
    padding-bottom: 47px;
    column-gap: 26px;
    width: @desktop-width;
    box-sizing: border-box;
  }

  .form__wrapper--checkbox {
    padding-right: 195px;
  }

  .form__wrapper--text-control {
    padding-top: 49px;
    padding-bottom: 52px;
  }

  .form__wrapper--phone {
    padding-bottom: 0;
  }

  .form__wrapper--email {
    padding-bottom: 27px;
  }

  .form__group--extra .form__wrapper {
    padding-bottom: 38px;
  }

  .form__list--checkbox {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 59px;
  }

  .form__list--text-control {
    row-gap: 19px;
  }

  .form__footer {
    width: 700px;
    padding: 0 225px;
    margin: 0 auto;
  }
}
