.form {
  display: flex;
  flex-direction: column;
  margin: 0 30px 16px;
}

.form__group {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
}

.form__group--extra {
  margin-bottom: 17px;
}

.form__title {
  .font-style-title(700; 17px; 16px; @base-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form__list {
  .nav-list;
  display: grid;
}

.form__list--radiobutton {
  row-gap: 11px;
}

.form__list--checkbox {
  row-gap: 24px;
}

.form__list--text-control {
  row-gap: 22px;
}

.form__control {
  margin: 0;
  margin-bottom: 22px;
}

.form__footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__note {
  .font-style(400; 14px; 16px; @text-color);
  margin: 0;
}

.form__button {
  min-width: 230px;
}

@media (min-width: @tablet-width) {
  .form {
    margin: 0;
  }

  .form__group {
    display: grid;
    grid-template-columns: 88px auto;
    column-gap: 79px;
    margin: 0;
    padding: 50px;
  }

  .form__group--dark {
    background-color: @bg-second-page;
  }

  .form__group--phone {
    padding-bottom: 0;
  }

  .form__group--email {
    padding-top: 0;
  }

  .form__title {
    margin-top: 19px;
  }

  .form__list {
    row-gap: 24px;
  }

  .form__list--checkbox {
    grid-template-columns: 1fr 1fr;
  }

  .form__footer {
    margin: 0 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__note {
    .font-style(400; 17px; 30px; @text-color);
  }
}

@media (min-width: @desktop-width) {
  .form__group {
    padding-left: 97px;
    padding-right: 225px;
    column-gap: 38px;
  }

  .form__list--checkbox {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form__footer {
    margin: 0 225px;
  }
}
