@media (max-width: @mobile-width-only) {
  .logo__image--black,
  .logo__image--black-detail {
    display: none;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width-but) {
  .logo__image--white,
  .logo__image--black-detail {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .logo__image--white,
  .logo__image--black {
    display: none;
  }
}
