.main-header {
  display: flex;
  flex-direction: column;
  color: @text-color;
  background-color: @bg-color;
  margin: 0 auto;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
}

.main-header__logo {
  margin: 22px;
  margin-right: 67px;
  margin-left: 116px;
  line-height: 0;
}
