.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .main-container {
    margin-top: -64px;
  }
}
