.main-header {
  display: flex;
  flex-direction: column;
  color: @text-color;
  background-color: @bg-color;
  margin: 0 auto;
  z-index: 1;
}

.main-header__logo {
  display: block;
  margin: 22px;
  line-height: 0;
}

.main-header__benefit {
  .font-style(400; 15px; 24px; @text-color);
}

@media (max-width: @mobile-width-only) {
  .main-header__wrapper {
    margin: 0 auto;
  }

  .main-header__benefit {
    .visually-hidden;
  }

  .main-header__toggle {
    position: absolute;
    right: 0;
    z-index: 2;
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 35px;
  }

  .main-header__toggle--closed {
    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 20px;
      width: 20px;
      height: 2px;
      background-color: #231f20;
      box-shadow: 0 6px 0 0 #231f20, 0 12px 0 #231f20;
    }

    &:active::before {
      background-color: fade(#231f20, 60%);
      box-shadow:
        0 6px 0 0 fade(#231f20, 60%),
        0 12px 0 0 fade(#231f20, 60%);
    }
  }

  .main-header__toggle--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 37px;
      left: 16px;
      width: 27px;
      height: 2px;
      background-color: #231f20;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#231f20, 60%);
    }
  }

  .main-header__toggle--nojs {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    position: relative;
    background-color: transparent;
  }

  .main-header__wrapper {
    position: absolute;
    top: 25px;
    left: 48px;
  }

  .main-header__logo {
    margin: 0;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__benefit {
    padding: 20px 18px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 32px;
    margin-top: -64px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: @desktop-width;
    margin: 0 auto;
  }

  .main-header__wrapper {
    top: 9px;
    left: 500px;
  }
}
