.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  .font-style(700; 17px; 24px; @bold-text-color);
}

.main-nav__toggle {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("/img/menu-close.svg.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
}
