.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  margin-bottom: 39px;
}

.main-container--form {
  margin-bottom: 39px;
}

.main-container--catalog {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .main-container {
    margin-top: -64px;
    margin-bottom: 55px;
  }

  .main-container--form,
  .main-container--catalog {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-container {
    margin: -64px 0 104px 0;
  }

  .main-container--catalog {
    margin-bottom: 53px;
  }

  .main-container--form {
    margin-bottom: 50px;
  }
}
