.map {
  display: block;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .map {
    width: 320px;
    height: 457px;
    margin-bottom: 42px;
  }
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    height: 454px;
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 527px;
    height: 457px;
    margin-bottom: 0;
  }
}
