.phone-control {
  display: flex;
  align-items: center;
  margin-left: 0;
  border-bottom: 3px solid @text-color;
  .font-style(400; 17px; 18px; @bold-text-color);
}

.phone-control__input {
  border: 0;
  min-width: 228px;
}
