.production {
  display: grid;
  margin: 0 30px 19px 30px;
  min-width: 260px;
  border: 1px solid #ececec;
}

.production__title {
  .font-style-title(700; 17px; 24px; @bold-text-color);
  margin: 0;
  padding: 21px 13px 27px 91px;
}

.production__video {
  line-height: 0;
}

.production__description {
  padding: 35px 27px 41px 34px;
  margin: 0;
}

.production__button {
  margin: 34px;
  margin-top: 0;
  min-width: 192px;
}

@media (max-width: @mobile-width-only) {
  .production {
    min-height: 503px;
  }

  .production__image--tablet,
  .production__image--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width-but) {
  .production__title {
    grid-row: 2 / 3;
  }

  .production__image--phone,
  .production__image--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .production {
    margin: 3px 50px 14px;
  }

  .production__title {
    font-size: 20px;
    padding-top: 41px;
    padding-bottom: 26px;
  }

  .production__description {
    .font-style(00; 15px; 30px; @text-color);
    padding: 40px;
    padding-top: 0;
  }

  .production__button {
    margin: 0 42px 46px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    margin-bottom: 51px;
    grid-template-columns: 683px auto;
  }

  .production__title {
    padding: 96px 57px 29px 79px;
  }

  .production__video {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .production__image--phone,
  .production__image--tablet {
    display: none;
  }

  .production__description {
    padding: 0 57px 52px 79px;
  }

  .production__button {
    margin: 0 57px 60px 79px;
  }
}
