.product-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #ececec;
  min-width: 260px;
  min-height: 374px;
}

.product-card__link {
  text-decoration: none;
  line-height: 0;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
}

.product-card__title {
  .font-style-title(700; 17px; 24px; @bold-text-color);
  margin: 0;
  margin-bottom: 6px;
  text-decoration: none;
}

.product-card__description {
  .font-style(400; 13px; 30px; @text-color);
  margin: 0;
  margin-bottom: 17px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.product-card__price {
  .font-style-title(700; 15px; 24px; @bold-text-color);
  margin: 0;
}

@media (max-width: @mobile-width-only) {
  .product-card {
    justify-items: center;
  }

  .product-card__image--tablet,
  .product-card__image--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width-but) {
  .product-card {
    grid-template-columns: 334px 1fr;
    min-height: 334px;
  }

  .product-card__content {
    padding: 27px 34px;
  }

  .product-card__image--phone,
  .product-card__image--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .product-card__title {
    font-size: 20px;
  }

  .product-card__description {
    font-size: 15px;
  }

  .product-card__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    max-width: 316px;
  }

  .product-card__content {
    min-height: 197px;
    padding: 28px;
  }

  .product-card__image--phone,
  .product-card__image--tablet {
    display: none;
  }
}
