.product-type__list {
  .nav-list;
}

.product-type__item {
  background-color: @base-color;
  padding: 23px 30px;
  padding-right: 160px;
  text-align: start;

  &--toys {
    background-color: #56c3b2;
  }
}

.product-type__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  color: @bg-color;
}
