.product-type__list {
  .nav-list;
}

.product-type__item {
  background-color: @base-color;
  padding: 23px 30px;
  padding-right: 160px;
  text-align: start;

  &--toys {
    background-color: #56c3b2;
  }
}

.product-type__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  color: @bg-color;
}

@media (min-width: @tablet-width) {
  .product-type__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
  }

  .product-type__item {
    min-width: 50%;
    box-sizing: border-box;
  }

  .product-type__link {
    .font-style(700; 20px; 30px; @bg-color);
  }
}
