.size-filter__group {
  border: 0;
}

.size-filter__ask {
  text-align: center;
  .font-style(400; 15px; 30px; @text-color);
  margin-bottom: 20px;
}

.size-filter__list {
  .nav-list;
  display: flex;
  gap: 7px;
  justify-content: space-between;
}
