.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.menu-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.page-body {
  min-width: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #444444;
  background-color: #ffffff;
}
.main-header {
  display: flex;
  flex-direction: column;
  color: #444444;
  background-color: #ffffff;
  margin: 0 auto;
}
.main-header__wrapper {
  display: flex;
  align-items: center;
}
.main-header__logo {
  margin: 22px;
  margin-right: 67px;
  margin-left: 116px;
  line-height: 0;
}
.main-header__toggle {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("/img/menu-close.svg.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
}
.logo__image--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-nav {
  display: flex;
  flex-direction: column;
}
.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
.site-list__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 27px 60px 27px 76px;
}
.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user-list__search {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
.user-list__basket {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
.user-list__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 27px 60px 27px 30px;
}
.user-list__search-icon,
.user-list__basket-icon {
  padding-right: 25px;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  margin-bottom: 39px;
}
.hero {
  min-height: 177px;
  text-align: center;
  background-color: #f1f1f1;
}
.hero--bg-image {
  background-image: url("/img/hero.png");
  background-repeat: no-repeat;
  min-height: 489px;
}
.hero--bg-image .hero__title {
  padding-top: 90px;
  padding-bottom: 120px;
}
.hero__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  padding: 74px 20px;
  margin: 0;
}
.product-type__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.product-type__item {
  background-color: #63d1bb;
  padding: 23px 30px;
  padding-right: 160px;
  text-align: start;
}
.product-type__item--toys {
  background-color: #56c3b2;
}
.product-type__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
}
.week-product {
  margin: 30px;
}
.week-product__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.week-product__link {
  display: block;
  text-decoration: none;
}
.week-product__link--image {
  margin-bottom: 26px;
}
.week-product__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.week-product__subtitle {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 18px;
}
.week-product__description {
  margin: 0;
  margin-bottom: 28px;
}
.week-product__list {
  margin: 0;
  margin-bottom: 28px;
}
.week-product__item {
  display: grid;
  grid-template-columns: 97px 162px;
  border-bottom: solid 1px #ececec;
}
.week-product__property {
  min-height: 33px;
}
.week-product__price {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.week-product__order {
  margin-bottom: 36px;
}
.about {
  margin: 30px;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 260px;
}
.about__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  min-height: 40px;
  padding-top: 60px;
}
.reviews {
  margin: 30px;
}
.reviews__wrapper {
  display: flex;
  flex-direction: column;
}
.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__text {
  margin: 0;
  margin-right: 31px;
  margin-bottom: 33px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__author-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-style: normal;
  margin-bottom: 16px;
}
.reviews__author-nickname {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}
.reviews__button-wrapper {
  display: flex;
  margin-bottom: 38px;
}
.reviews__prev,
.reviews__next {
  min-height: 52px;
  min-width: 130px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.button {
  display: block;
  box-sizing: border-box;
  min-width: 260px;
  min-height: 52px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  padding: 16px;
  text-align: center;
  border: 2px solid #444444;
  background: #ffffff;
}
.contacts {
  margin: 0;
  margin-top: 38px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
}
.contacts__title {
  margin: 0;
  padding: 0 30px;
  margin-bottom: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 52px;
  row-gap: 48px;
}
.contacts__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 30px;
}
.contacts__description {
  margin: 0;
}
.email {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}
.contacts__map {
  display: block;
  margin-bottom: 42px;
}
.map__image {
  display: block;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-footer__social {
  width: 142px;
  align-self: center;
  padding: 25px 89px;
}
.main-footer__copyright {
  padding: 22px 70px;
}
.social {
  min-width: 142px;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.social__link {
  display: block;
  width: 27px;
  height: 27px;
  text-align: center;
}
.social__icon {
  fill: #231f20;
}
.copyright {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  align-items: center;
  justify-content: space-between;
}
.copyright__icon {
  fill: #63d1bb;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal-container--close {
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 28px 30px 46px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
.modal-size-filter {
  width: 320px;
  box-sizing: border-box;
}
.modal-size-filter__content {
  display: flex;
  flex-direction: column;
}
.modal-size-filter__title {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
}
.size-filter__group {
  border: 0;
}
.size-filter__ask {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 20px;
}
.size-filter__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 7px;
  justify-content: space-between;
}
.form-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 30px;
  margin-top: 17px;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0 30px 16px;
}
.form__group {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
}
.form__group--extra {
  margin-bottom: 17px;
}
.form__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form__note {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}
.radiobutton__label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.radiobutton__control {
  padding-left: 61px;
}
.checkbox__label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.checkbox__control {
  padding-left: 61px;
}
.control {
  margin: 0;
  margin-bottom: 22px;
}
.text-control__label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  padding-right: 24px;
}
.field {
  border: 0;
  border-bottom: 3px solid #444444;
  min-height: 52px;
  min-width: 260px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.field::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}
.phone-control {
  display: flex;
  align-items: center;
  margin-left: 0;
  border-bottom: 3px solid #444444;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.phone-control__input {
  border: 0;
  min-width: 228px;
}
.email-control {
  display: flex;
  align-items: center;
  margin-left: 0;
  border-bottom: 3px solid #444444;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.email-control__input {
  border: 0;
  min-width: 225px;
}
.extra-control {
  margin: 0;
}
.extra-control__input {
  resize: none;
  border: 3px solid #444444;
  padding: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.catalog {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 30px;
  display: grid;
  gap: 30px;
}
.product-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #ececec;
  min-width: 260px;
  min-height: 374px;
}
.product-card__content {
  margin: 28px;
}
.product-card__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 6px;
  text-decoration: none;
}
.product-card__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 17px;
}
.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.product-card__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.production {
  margin: 0 30px 19px 30px;
  min-width: 260px;
  min-height: 503px;
  border: 1px solid #ececec;
}
.product-card__link {
  text-decoration: none;
}
.production__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 21px 13px 27px 91px;
}
.production__description {
  padding: 35px 27px 41px 34px;
  margin: 0;
}
.production__button {
  margin: 34px;
  margin-top: 0;
  min-width: 192px;
}
/*# sourceMappingURL=style.css.map */
